<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041233032586-flk3o9731qguo4v0i8hj355p0nltiqdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041233032586-flk3o9731qguo4v0i8hj355p0nltiqdb</string>
	<key>API_KEY</key>
	<string>AIzaSyBezR_Eac2v8KmH4PbWLI3dCNwHEHjZ_Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>1041233032586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointify</string>
	<key>PROJECT_ID</key>
	<string>appointify-388715</string>
	<key>STORAGE_BUCKET</key>
	<string>appointify-388715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041233032586:ios:b1624dd40661a9cfef0473</string>
</dict>
</plist>